<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정</title>
</head>
<body>
<h1>공지사항 수정</h1>
<form th:action="@{/notice/edit/{id}(id=${notice.id})}" method="post">
    <label>제목: <input type="text" name="title" th:value="${notice.title}"/></label><br/>
    <label>작성자: <input type="text" name="writer" th:value="${notice.writer}"/></label><br/>
    <label>내용: <textarea name="content" th:text="${notice.content}"></textarea></label><br/>
    <button type="submit">수정</button>
</form>
<a th:href="@{/}">목록으로</a>
</body>
</html>
