<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="UTF-8">
<title>エラー</title>
</head>
<body>
	<div style="text-align:center;">
		<p>エラー</p>
		<p><a href="/" style="padding:12px 16px; border:1px solid #ccc;">戻る</a></p>
	</div>
</body>
</html>